<h1>Editação de notícias</h1>

<form name="edit_form" class="form-horizontal" role="form">
  <div class="form-group">
    <label for="titulo" class="col-sm-2 control-label">Título:</label>
    <div class="col-sm-4">
      <input class="form-control" id="titulo" ng-model="noticia.titulo" placeholder="Título da Notícia..."/>
    </div>
  </div>

  <div class="form-group">
    <label for="descricao" class="col-sm-2 control-label">Descrição:</label>
    <div class="col-sm-4">
      <textarea class="form-control" id="descricao" ng-model="noticia.descricao" placeholder="Descrição da Notícia..."></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" id="submit" class="btn btn-small btn-primary" ng-click="editarNoticia()" class="btn btn-small btn-primary"></button> <a href="#/noticias" class="btn btn-small btn-danger">Cancelar</a>
    </div>
  </div>
</form>